.top-bar {
  background-color: #FF7F50;
  color: white;
  height: 65px;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 100;
}

.top-bar__nav {
  z-index: 999;
}

.top-bar__nav>ul>li>a {
  display: flex;
  width: 150px;
  height: 65px;
  gap: 8px;
  justify-content: center;
  align-items: center;
  transition: linear .3s;
}

.top-bar__nav>ul>li:hover>a {
  background-color: white;
  color: #FF7F50;
}

.top-bar__nav>ul>li>ul {
  background-color: #FF7F50;
}

.top-bar__menu-1__munu {
  overflow: hidden;
  height: 0;
  transition: linear .3s;
}

.top-bar__menu-1__munu>li>a {
  width: 150px;
  height: 65px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: linear .3s;
}

.top-bar__menu-1__munu>li:hover>a {
  background-color: white;
  color: #FF7F50;
}

.top-bar__nav>ul>li:hover>ul {
  height: 130px;
}

.section-2>ul>li>a:nth-child(2) {
  display: flex;
  justify-content: center;
  font-size: 1.1rem;
  font-weight: bold;
  margin-bottom: 0.8rem;
}

.product-1 {
  display: flex;
  justify-content: center;
  align-content: center;
  gap: 30px;
}

.product-1>span:nth-child(1) {
  font-style: oblique;
  text-decoration: line-through;
}

.product-1>span:nth-child(3) {
  font-size: 1.1rem;
  font-weight: bold;
}

.section-1>img {
  margin-top: 90px;
}

.section-2>ul>li>a:nth-child(1) {
  position: relative;
  overflow: hidden;
}

.section-2>ul>li>a:nth-child(1)::before {
  content: "";
  background-color: rgba(0, 0, 0, );
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  transition: ease-in-out .3s;
}

.section-2>ul>li>a {
  display: flex;
  justify-content: center;
  align-items: center;
}

.section-2>ul>li:hover>a:nth-child(1)::before {
  background-color: rgba(0, 0, 0, .5);
  z-index: 2;
}

.section-2>ul>li>a:nth-child(1)::after {
  content: "View";
  position: absolute;
  color: white;
  border: 3px solid;
  border-radius: 8px;
  padding: 3px 5px 3px 8px;
  letter-spacing: 3px;
  transition: ease-in-out .3s;
  transform: translate(-100%, -200%);
  /*애니메이션 날아오기 효과 !*/
  opacity: 0;
}

.section-2>ul>li:hover>a:nth-child(1)::after {
  opacity: 1;
  z-index: 3;
  transform: translate(0, 0);
}

.section-2>ul>li>a:nth-child(1)>img {
  transition: ease-in-out .3s;
}

.section-2>ul>li:hover>a:nth-child(1)>img {
  transform: scale(1.2);
}

/*부드럽게 효과 줄라면 저렇게 위에 두개 연계해야함*/
.section-2>ul>li>a:nth-child(1) {
  margin-bottom: 7px;
}

.section-2>ul>li:hover>a:nth-child(2) {
  background-color: #FBAB7E;
  background-image: linear-gradient(180deg, #FBAB7E 0%, #F7CE68 100%);
}

/**/
.top-bar.hover {
  background-color: rgba(0, 0, 0, 0);
}

.top-bar.hover ul {
  background-color: rgba(0, 0, 0, 0);
}

.top-bar.hover > div {
 color: rgba(255, 127, 0);
 background-color:rgba(199, 211, 212, 0.7);
}